.tabs {
  display: flex;
  background-color: #1e1e1e;
}

.tab {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.tabs button {
  font-size: x-large;
  padding: 10px;
  border: none;
  background: none;
  color: #ccc;
  cursor: pointer;
}

.tabs button.active {
  border-bottom: 2px solid #007acc;
  color: #fff;
}

.tabs button:hover {
  color: #fff;
}

pre {
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 10px;
  overflow: auto;
}

.tab.active {
  border-bottom: 2px solid #007acc;
}

.tab:hover {
  background-color: #333;
}

.tab span {
  color: #ccc;
}

.tab.active span {
  color: #fff;
}

.close-button {
  margin-left: 5px;
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.close-button:hover {
  color: #ff5c5c;
}

.loading-pyodide {
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
}

.output-panel {
  position: fixed;
  background-color: #1e1e1e;
  color: #d4d4d4;
  overflow: auto;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  width: 100%;
  height: 30vh;
}

.output-header {
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 5px 10px;
  border-bottom: 1px solid #333;
}

.output-header span {
  color: #ccc;
}

.close-output-button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
}

.close-output-button:hover {
  color: #ff5c5c;
}

.output-content {
  margin: 0px;
  flex-grow: 1;
  overflow: auto;
}

.code-container {
  flex-grow: 1;
}

.workspace {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.github-button {
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.github-button:hover {
  color: #fff;
}

.github-button svg {
  vertical-align: middle;
}

.new-file-button-after {
  flex-grow: 1;
}
